.update {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  background-color: white;
  padding: 50px;
  z-index: 999;
  border: 2px solid red;

  .top {
    position: relative;
    h3 {
      text-align: center;
    }
    span {
      position: absolute;
      right: 0;
      top: 0;
      button {
        background-color: red;
        cursor: pointer;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .coverPic {
      cursor: pointer;
    }
    .profilePic {
      cursor: pointer;
    }

    label {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    input {
      width: 50%;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    button {
      width: 25%;
      cursor: pointer;
    }
  }
}
